[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "hardware/kicad-modules"]
	path = hardware/kicad-modules
	url = https://github.com/dpiegdon/kicad-modules.git
[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
